 *{
    padding:0px;
    margin:0px;
 }
 
 
 .banner{
    background-image:url("images/donation12.png");
    width: 100vw;
    height:100vh;
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
    padding:0px;
    margin:0px;
   
 }
 
 .banner-text{
    color:rgb(221, 24, 24);
    text-align:center;
    padding-top:150px;
    font-family:'Roboto', sans-serif;
 }

 #donate-now{
   text-decoration:none;
    text-align:center;
    border:2px solid orange;
    width:150px;
    height:50px;
    border-radius:10px;
 }



 #donate-now-2{
    text-decoration:none;
     text-align:center;
     border:2px solid orange;
     width:150px;
     height:50px;
     border-radius:10px;
     display:block;
     margin:auto;
     background-color:gold
    
   

     
  }



  .button{
    padding-top:20px;
  }





 .donate-today h1{
    text-align:center;
    padding-top:100px;
 }


 .donate-today p{
    text-align:center;
    padding-top:50px
 }

 /* form placeholder{
    text-align: center;
    justify-content: space-between;
    padding:50px;
 }
 */
form{
    padding-top:100px;
    text-align:center;
    border:none;
}





.prize-tag {
    padding-top:50px;
}

 .prize-tag  h1{
    text-align:center;
    float:left;
    width:19%;
    height:10%;
    padding-top:10px;
    border-radius:10px;
    
 
   

 } 

 .select-tk{
    border:2px solid orange;
    color:olivedrab;
 }

.our-donat-plan div {

    border:2px solid red;

}

.donate-plan2{
   display:flex;
   align-content:center;
   justify-content:center;
  
}

.donate-plan2 div{
   align-items:center;
   margin:20px;
   width:100%;
   padding-top:10px;
   border:2px solid gray;
   padding:6px;
   background-color:rgb(245, 139, 157);
}
 
 .div1{
   width:250px;
   float:left;
   height:250px;
   padding-left:20px;
   margin-left:8%;
   font-size:20px;

}


.div2{
   background-color: ;
   width:250px;
   float:right;
   height:50px;
   padding-right:30%;
   
}


 

.div1 button{
   text-decoration:none;
   text-align:center;
   border:2px solid orange;
   width:150px;
   height:50px;
   border-radius:10px;
   display:block;
   margin:auto;
   background-color:gold;
  

}
 
.new{
   display:flex;
}

.new img{
   width:50%;
   float:left;
   margin-left:40px;
}

.new text{
   width:50%;
   float:right;
   margin-right:40px;
}
/* 
.new text,h1,p{
   width:50%;
} */


.old{
   display:flex;
}

.old img{
   width:50%;
   float:left;
   margin-right:60px;
   margin:30px;
}

.old text{
   width:100%;
   float:right;
   margin-right:20px;
    
}
  


.get-my-update{
   text-align:center;
}

.get-my-update p{
   padding:10px;
}

.input-text{
   margin-top:20px;
   text-align:center;
   background-color:pink;
   width:600px;
   height:100px;
   display:block;
   margin:auto;
    padding-top:100px;
}


#button{
   background-color:rgb(252, 13, 13);
}
.footer{
   background-color:black;
   width:1000;
   height150px;
   margin-top:30px;
}

.footer h1{
   color:rgb(247, 54, 86);
   text-align:center;
}

.footer p{
   color:white;
   text-align:center;
   
}



